.cart .col-1{
	padding-left: 11px;
	padding-top: 3px;
}
.cart .col-2{
	width: 106px;
	padding-left: 5px;
}
.cart .col-3{
	width: 208px;
}
.cart .col-4{
	width: 140px;
	padding: 0 10px 0 20px;
}
.cart .col-5{
	width: 120px;
	padding-right: 40px;
	text-align: right;
}
.cart .col-6{
	width: 80px;
	text-align: center;
}
.cart .col-7{
	width: 100px;
	padding-right: 40px;
	text-align: right;
}
.cart .col-8{
	width: 75px;
}
.cart .cart-header{
	display: block;
	height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	padding: 5px 0;
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	font-size: 12px;
}
.cart .cart-header>div,.cart-main .item-list>div{
	float: left;
}
.cart .cart-main{
	margin-bottom: 20px;
}
.cart .cart-main .item-list{
	width: 100%;
	border-style: solid;
	border-width: 2px 1px 1px;
	border-color: #aaa #f1f1f1 #f1f1f1;
	background: #fff4e8;
}
.cart .cart-main .item-list .item{
	border-top: 1px solid #f1f1f1;
	padding: 15px 0;
}
.cart .cart-main .item-list .item>div{
	float: left;
}
.cart .cart-main .item-list .item .item-select{
	padding-top: 0;
	margin-top: -3px;
}
.cart .cart-main .item-list .item .item-select input{
	margin: 0;
}
.cart .cart-main .item-list .item .item-name{
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}
.cart .cart-main .item-list .item .item-amount a{
	float: left;
	border: 1px solid #cacbcb;
	height: 18px;
	line-height: 18px;
	padding: 1px 0;
	width: 16px;
	text-align: center;
	background: #fff;
}
.cart .cart-main .item-list .item .item-amount a.btn-reduce{
	border-right: none;
}
.cart .cart-main .item-list .item .item-amount a.btn-add{
	border-left: none;
}
.cart .cart-main .item-list .item .item-amount a.btn-disabled{
	cursor: disabled;
	column-rule: #e9e9e9;
}
.cart .cart-main .item-list .item .item-amount input{
	float: left;
	border: 1px solid #cacbcb;
	width: 42px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	padding: 1px;
	font-size: 12px;
	color: #333;
}
.cart .cart-footer .option-box{
	box-sizing: content-box;
	height: 50px;
	border: 1px solid #f0f0f0;
	background: #fff;
}
.cart .cart-footer .option-box .select-all{
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 13px 0 16px 11px;
}
.cart .cart-footer .option-box .operation{
	float: left;
	height: 50px;
	width: 310px;
	line-height: 50px;
}
.cart .cart-footer .option-box .operation .remove-checked{
	float: left;
	margin-left: 5px;
	color: #666;
}
.cart .cart-footer .option-box .operation .remove-all{
	font-weight: 700;
	float: left;
	margin-left: 5px;
	color: #666;
}
.cart .cart-footer .option-box .toolbar-right{
	height: 50px;
	width: 622px;
	float: left;
}
.cart .cart-footer .option-box .toolbar-right>div{
	float: right;
}
.cart .cart-footer .option-box .toolbar-right .btn-area{
	margin-top: -1px;
}
.cart .cart-footer .option-box .toolbar-right .btn-area a{
	display: block;
	width: 94px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background: #e54346;
}
.cart .cart-footer .option-box .toolbar-right .price-sum{
	float: right;
	height: 43px;
	line-height: 20px;
	margin: 7px 5px 0 10px;
	color: #666;
}
.cart .cart-footer .option-box .toolbar-right .price-sum .txt{
	display: inline-block;
	width: 50px;
	text-align: right;
}
.cart .cart-footer .option-box .toolbar-right .price-sum .sum{
	font-size: 16px;
	color: #e2231a;
	font-weight: 700;
}
.cart .cart-footer .option-box .toolbar-right .amount-sum{
	color: #999;
	height: 44px;
	line-height: 20px;
	margin: 7px 0 0;
}
.app .container{
	width: 990px;
}
.app .login{
	display: none;
}
.app .empty{
	display: none;
}
.app .nologin,.app .empty{
	height: 300px;
	line-height: 100px;
	font-size: 20px;
}
.app .nologin .txt,.app .empty .txt{
	width: 1000px;
	margin: 0 auto;
}
.app .nologin p{
	text-align: center;
	margin-top: 100px;
}
.app .empty p{
	text-align: center;
}
.app .nologin p i{
	display: inline-block;
	width: 72px;
	height: 72px;
	background: url(https://misc.360buyimg.com/user/reg/3.0.0/css/i/icon.png) -200px -50px no-repeat;
	vertical-align: middle;
	margin-right: 20px;
}
.app .nologin .btn,.app .empty .btn{
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #e2231a;
	margin: 0 auto;
}
.app .nologin .btn a,.app .empty .btn a{
	color: #fff;
}